.width250 {
  width: 250px;
}
.lp_btn {
  border-radius: 50px;
}
.margin_lp {
  margin-top: 250px;
}
.margin_savingslp {
  margin-top: 180px;
}
.margin_healthlp_section {
  margin-top: 150px;
}
.padding_section_tb {
  padding-top: 100px;
  padding-bottom: 100px;
}
.margin_healthlp {
  margin-top: 280px;
}
.margin_savelp {
  margin-top: 230px;
}
